body {
    background-color: white;
    color: black;
    text-align: center;
}
h1 {
    color: Black;
    text-align: center;
}

p {
    font-family: "Block";
    font-size: 20px;
    color: Black;
}

